html,body{
  height:100% !important;
  margin:0 !important;
  padding: 0 !important;
  background-color: #0b0b09 !important;
},
@font-face {
    font-family: AvenirBold;
    src: url(../fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
    font-family: AvenirBoldCn;
    src: url(../fonts/AvenirNextLTPro-BoldCn.otf);
}
@font-face {
    font-family: AvenirMedium;
    src: url(../fonts/AvenirNextLTPro-Medium.otf);
}
@font-face {
    font-family: AvenirMediumCn;
    src: url(../fonts/AvenirNextLTPro-MediumCn.otf);
}
@font-face {
    font-family: AvenirRegular;
    src: url(../fonts/AvenirNextLTPro-Regular.otf);
}
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
button{
  margin:1% 0 0 0 !important;
  font-family: AvenirBoldCn !important;
  font-size:3rem !important;
  height:45px !important;
  width:120px !important;
  background-color:#d1cf54 !important;
  color:#004059 !important;
  cursor:pointer !important;
  border: none !important;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #000;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
